<!DOCTYPE HTML PUBLIC >
<html ng-app="mainApp">
    <head>
        <title>Bolek.sb</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
        <meta charset="UTF-8"/>
        <link rel="shortcut icon" type="image/jpg" href="../resources/img/favicon.jpg"/>
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>
        <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css"/>
        <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.css"/>
        <!-- endbower -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/resources/css/site.css">
        <!-- endinject -->
    </head>
    <body ng-controller="appCtrl">
    <span id="top"></span>
        <div ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Bolek.sb</span>
                    </h2>
                    <span flex></span>
                    <div class="md-menu" ng-controller="loginCtrl as c" ng-cloak>
                        <md-menu>
                            <md-button class="md-fab md-hue2" ng-click="c.openMenu($mdOpenMenu, $event)">
                                <span class="material-icons">person</span>
                            </md-button>
                            <md-menu-content width="5">
                                <form name="userForm">
                                    <md-menu-item>
                                        <md-input-container md-no-float class="md-block">
                                            <input type="text" placeholder="Login" ng-model="user.login" name="login">
                                        </md-input-container>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-input-container md-no-float class="md-block">
                                            <input type="password" type="text" placeholder="Password" ng-model="user.password" name="password">
                                        </md-input-container>
                                    </md-menu-item>

                                    <md-menu-item>
                                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                            <md-button class="md-raised" ng-disabled="user.login === '' || user.password===''" ng-click="login()">Zaloguj</md-button>
                                            <md-button class="md-raised md-warn" ui-sref="register">Rejestracja</md-button>
                                        </section>
                                    </md-menu-item>
                                </form>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                    <md-tab ng-repeat="tab in menuTabs" ui-sref="{{tab.url}}">
                        <span>{{tab.name}}</span>
                    </md-tab>
                </md-tabs>
            </md-toolbar>
        </div>
        <div class="centered" ui-view></div>

        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.js"></script>
        <script src="../bower_components/angular-messages/angular-messages.js"></script>
        <script src="../bower_components/angular-material/angular-material.js"></script>
        <script src="../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
        <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
        <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="../bower_components/ng-file-upload/ng-file-upload.js"></script>
        <!-- endbower -->
        <!-- inject:js -->
        <script src="/mainApp.js"></script>
        <script src="/angularCore/router.js"></script>
        <script src="/controllers/services/authService.js"></script>
        <script src="/controllers/addCtrl.js"></script>
        <script src="/controllers/appCtrl.js"></script>
        <script src="/controllers/filters.js"></script>
        <script src="/controllers/loginCtrl.js"></script>
        <script src="/controllers/mainPageCtrl.js"></script>
        <script src="/controllers/memeCtrl.js"></script>
        <script src="/controllers/randomCtrl.js"></script>
        <script src="/controllers/registerCtrl.js"></script>
        <script src="/controllers/waitingCtrl.js"></script>
        <!-- endinject -->
    </body>
</html>
