<!DOCTYPE HTML PUBLIC >
<div ng-controller="addCtrl">
    <div style="float: left; width: 600px;">
        <form name="newMemeForm">
            <md-input-container class="md-block">
                <label>Tytuł mema</label>
                <input md-maxlength="50" required name="title" ng-model="newMeme.title" ng-change="generateMeme()">
                <div ng-messages="newMemeForm.title.$error">
                    <div ng-message="required">Tytuł jest wymagany.</div>
                    <div ng-message="md-maxlength">Tytuł nie może mieć więcej niż 50 znaków.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Opis mema</label>
                <input md-maxlength="100" name="description" ng-model="newMeme.description" ng-change="generateMeme()">
                <div ng-messages="newMemeForm.description.$error">
                    <div ng-message="md-maxlength">Opis nie może mieć więcej niż 100 znaków.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Autor mema</label>
                <input required name="author" ng-model="newMeme.author">
                <div ng-messages="newMemeForm.author.$error">
                    <div ng-message="required">Autor jest wymagany.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Scieżka do zdjecia</label>
                <input required name="imgUrl" ng-model="newMeme.imgUrl">
                <div ng-messages="newMemeForm.imgUrl.$error">
                    <div ng-message="required">Ścieżka jest wymagana.</div>
                </div>
            </md-input-container>

            <md-button class="md-raised md-primary" ng-click="saveMeme(newMeme)">
                <span>Dodaj mema</span>
            </md-button>
        </form>
    </div>
    <div id="imgUpload" style="float: left; width: 600px;">
        <memegenerator></memegenerator>
        <div ng-if="fileChoosen" class="animate-if">
            HEHEHE ELO
        </div>
        <div ng-if="!fileChoosen" class="animate-if">
            <div ngf-drop ngf-select ngf-change="loadImage($file)" class="drop-box"
                 ngf-drag-over-class="'dragover'" accept="image/*" ngf-pattern="'image/*'">
                Klinij lub przeciagnij zdjecie tutaj
            </div>
            <div ngf-no-file-drop>
                <md-button class="md-raised md-primary" ngf-select ng-model="file" ngf-multiple="false">Wybierz zdjecie</md-button>
            </div>
        </div>
    </div>
</div>
