<!DOCTYPE HTML PUBLIC >
<div ng-controller="memeCtrl">
    <md-card style="width:800px; text-align:left;" ng-if="!edition">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{memeData.title}}</span>
                <span class="md-subhead" style="color:gray; font-size:12px">
                    <i>{{memeData.author}},
                        {{memeData.created_at | date:"HH:mm dd.MM.yyyy"}},
                        {{memeData.description}}</i>
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
            <div class="xl-media card-media" style="margin-top:60px;">
                <div>
                    <img ng-src="data:{{memeData.image.contentType}};base64,{{memeData.image.data}}" width="600px" height="450px"/>
                </div>
            </div>
            <md-card-actions layout="column">
                <md-button class="md-icon-button md-accent" ng-click="likeMeme(memeData)">
                    <span class="material-icons">favorite</span>
                </md-button>
                <md-button class="md-icon-button" ng-click="unlikeMeme(memeData)">
                    <span class="material-icons">thumb_down</span>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="true">
                    <span class="material-icons">reply</span>
                </md-button>
                <md-button class="md-icon-button" ng-if="isAdmin" ng-click="editMeme()">
                    <span class="material-icons">settings</span>
                </md-button>
                <md-button class="md-icon-button" ng-if="isAdmin" ng-click="removeMeme(memeData)">
                    <span class="material-icons">delete_forever</span>
                </md-button>
                <md-button class="md-fab md-mini" aria-label="like" style="margin-top: 190px;" ng-class="memeData.like>0?'':'md-primary'">
                    <span>{{memeData.like}}</span>
                </md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
    <md-card style="width:800px; text-align:left;" ng-if="edition && isAdmin">
        <md-card-title>
            <md-card-title-text></md-card-title-text>
        </md-card-title>
        <md-card-content layout-align="space-between" style="margin-top:20px">
            <md-input-container class="md-block">
                <label>Tytył</label>
                <input ng-model="editedMeme.title">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="updateMeme(editedMeme)">
                <span>Zapisz</span>
            </md-button>
            <md-button class="md-raised md-primary" ng-click="editMeme()">
                <span>Cofnij</span>
            </md-button>
        </md-card-content>
    </md-card>
    <md-card style="width:800px; text-align:left;">
        <md-card-title style="margin-bottom:30px">
            <md-card-title-text>
                <table>
                    <tr>
                        <td style="text-align:left; width:98%">
                            <span>Komentarze ({{memeData.comments.length}})</span>
                        </td>
                        <td style="text-align:right;">
                            <div style="text-align:right; padding-right:10px">
                                <md-button class="md-fab md-mini" ng-click="scrollTo('addCommentAnchor')" ng-class="md-primary">
                                    <span class="material-icons">add</span>
                                </md-button>
                            </div>
                        </td>
                    </tr>
                </table>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-align="space-between" style="margin-top:20px">
            <div ng-if="!memeData.comments.length">
                <i>Brak komentarzy</i>
            </div>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="comment in memeData.comments" style="padding-top:10px">
                    <img ng-src="{{comment.author.avatar}}" class="md-avatar"/>
                    <div class="md-list-item-text">
                        <div layout="row">
                            <div flex="60">
                                <span >{{comment.author.name}}</span>
                            </div>
                            <div flex="40" style="text-align:right; color:gray; font-size:12px">
                                <span>{{comment.date | date: 'HH:mm, dd.MM.yy'}}</span>
                                <span ng-if="comment.edited_at && !comment.Edition">(edytowany:
                                    {{comment.edited_at | date: 'HH:mm, dd.MM.yy'}})</span>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="80">
                                <p ng-if="!comment.Edition">{{comment.body}}</p>
                                <p ng-if="comment.Edition">
                                    <md-input-container style="width:100%">
                                        <label>Treść komentarza</label>
                                        <textarea ng-model="comment.body"/>
                                    </md-input-container>
                                </p>
                            </div>
                            <div flex="20" style="text-align:right;">
                                <span ng-if="comment.Edition" style="cursor:pointer" ng-click="updateComment(comment)">
                                    <span class="material-icons">done</span>
                                </span>
                                <span ng-if="comment.Edition" style="cursor:pointer" ng-click="editComment(comment)">
                                    <span class="material-icons">redo</span>
                                </span>
                                <span ng-if="!comment.Edition" style="cursor:pointer" ng-click="editComment(comment)">
                                    <span class="material-icons">edit</span>
                                </span>
                                <span ng-if="!comment.Edition" style="cursor:pointer" ng-click="removeComment(comment)">
                                    <span class="material-icons">delete_forever</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
            <br />
            <div id="addCommentAnchor"></div>
            <md-input-container class="md-block" style="margin-bottom: 0px;">
                <label>Treść komentarza</label>
                <textarea id="commentBody" ng-model="commentBody"/>
            </md-input-container>
            <div layout="row">
                <div flex="60"></div>
                <div flex="40" style="text-align:right;">
                    <md-button ng-disabled="!commentBody" class="md-raised md-primary" ng-click="addComment(commentBody)">
                        <span class="material-icons">done</span>
                    </md-button>
                    <md-button ng-disabled="!commentBody" class="md-raised md-primary" ng-click="commentBody =''">
                        <span class="material-icons">clear</span>
                    </md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
