<!DOCTYPE HTML PUBLIC >
<div ng-controller="waitingCtrl">
    <md-card ng-repeat="meme in memeData | orderBy:['like']:true"
             style="width:800px; text-align:left;">
        <md-card-title ui-sref="meme({memeId:meme._id})" style="cursor:pointer">
            <md-card-title-text>
                <span class="md-headline">{{meme.title}}</span>
                <span class="md-subhead" style="color:gray; font-size:12px">
                    <i>{{meme.author}},
                        {{meme.created_at | date:"HH:mm dd.MM.yyyy"}}</i>
                   <i ng-if="meme.edited_at">, <b>Edytowany: {{meme.edited_at | date:"HH:mm dd.MM.yyyy"}}</b></i>
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
            <div class="xl-media card-media" style="margin-top:60px; cursor:pointer" ui-sref="meme({memeId:meme._id})">
                <div>
                    <img ng-src="data:{{meme.image.contentType}};base64,{{meme.image.data}}" width="600px" height="450px"/>
                </div>
            </div>
            <md-card-actions layout="column">
                <md-button class="md-icon-button md-accent" ng-click="likeMeme(meme)">
                    <span class="material-icons">favorite</span>
                </md-button>
                <md-button class="md-icon-button" ng-click="unlikeMeme(meme)">
                    <span class="material-icons">thumb_down</span>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="true">
                    <span class="material-icons">reply</span>
                </md-button>
                <md-button class="md-fab md-mini" style="margin-top: 290px;" ng-class="meme.like>0?'':'md-primary'">
                    <span>{{meme.like}}</span>
                </md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
    <div ng-if="memeData">
        <md-button class="md-raised md-primary" ng-disabled="currentPage === 1" ng-click="previousPage()">Poprzednia
        </md-button>
        <span>{{currentPage}} / {{allPages.page}}</span>
        <md-button class="md-raised md-primary" ng-click="nextPage()" ng-disabled="!allPages.page || currentPage === allPages.page"
                   >Następna
        </md-button>
    </div>
    <div ng-if="memeData.length === 0">
        <h1>Brak danych</h1>
    </div>
</div>
